<nav class="navbar  navbar-ligth" style="background-color: #0988;">
  
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-label="Toggle navigation" >
      <span class="navbar-toggler-icon" ></span>      
    </button>
    <a class="navbar-brand">
      <h6>REGIMENTO INTERNO FACILITADO</h6>
    </a>
    
    <div class="collapse navbar-collapse" id="navbarNav" style="background-color: #e3f2fd;">
      <ul class="navbar-nav me-auto mb-2">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/App">
            <img src="../../img/home.png" >Início</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><img src="../../img/sobre.png" >Sobre Nós</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><img src="../../img/regimento.png" >Regimento</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><img src="../../img/qordem.png" >Questões de Ordem</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><img src="../../img/facilidades.png" >Facilidades</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><img src="../../img/glossario.png" >Indíce Dinâmico</a>
        </li>       
        <li class="nav-item">
          <a class="nav-link" href="#"><img src="../../img/cursos.png" >Cursos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><img src="../../img/podcast.png" >Podcast</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><img src="../../img/eventos.png" >Inforgráficos</a>
        </li>
       
        <li class="nav-item">
          <a class="nav-link" href="#"><img src="../../img/contato.png" >Contatos</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
