<%- include('partials/header.ejs') %>
<%- include('partials/navbar.ejs') %>
<body>
    
    <div class="container">
        <div class="row">
            <div class="col">
                <main>
                    <img src="img/sobre.png"><br>
                     Sobre nós
                </main>
            </div>
            <div class="col">
                <main>
                    <img src="img/regimento.png"><br>
                    Regimento
                </main>
            </div>
            <div class="col">
                <main>
                    <img src="img/qordem.png"><br>
                    Questões de Ordem
                </main>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <main>
                    <a href="/facilidades"><img src="img/facilidades.png"></a><br>
                    Facilidades
                </main>
            </div>
            <div class="col">
                <main>
                    <img src="img/glossario.png"><br>
                    Indice Dinâmico
                </main>
            </div>
            <div class="col">
                <main>
                    <img src="img/cursos.png"><br>
                    Cursos
                </main>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <main>
                    <img src="img/podcast.png"><br>
                    Podcasts
                </main>
            </div>
            <div class="col">
                <main>
                    <img src="img/eventos.png"><br>
                    Infográficos
                </main>
            </div>
            <div class="col">
                <main>
                    <img src="img/contato.png"><br>
                    Contatos
                </main>
            </div>
        </div>
        
    
    </div>

   
       
</body>


<%- include('partials/footer.ejs') %>
