<%- include('partials/header.ejs') %>

    <body>
        <div class="card">
            <h1>REGIMENTO INTERNO FACILITADO</h1>
            <meta http-equiv="refresh" content="3; URL='/facilidades'" />
        </div>
    </body>


<%- include('partials/footer.ejs') %>