body {
    background-color:#073615;
    
    
    
}

h1 {
    color: #fff;
    text-align: center;
}
h6{
    color:darkgreen;
    border: 2px;;
}

.container{
    margin-top: 50px;
    background-color:#073615;
    
}

.card{
    margin-top: 200px;
    background-color:#073615;
    background-image: url("/img/ricfback.jpg");
}

main{
   
    background-color: #fff;
    margin: 2vh;
    color: #000;
    font-size:x-small;
    border-radius: 6px;
    width: 80%;
    height: 70px;
    text-align: center;
}
/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
   main{
    background-color: #fff;
    margin: 2vh;
    color: #000;
    font-size:x-small;
    border-radius: 6px;
    width: 80%;
    height: 70px;
    text-align: center;
   }
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
    main{
        background-color: #fff;
        margin: 2vh;
        color: #000;
        font-size: small;
        border-radius: 6px;
       }
}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) { 
    img {
        width: 40px
    }
    main{
        background-color: #fff;
        margin: 10vh;
        color: #000;
        font-size:medium;
        border-radius: 6px;
        width: 80%;
        height: 70px;
       }
 }

/*X-Large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { 
    main{
        background-color: #fff;
        margin: 10vh;
        color: #000;
        font-size:small;
        border-radius: 6px;
        width: 80%;
        height: 70px;
       }
 }

/*XX-Large devices (larger desktops, 1400px and up)*/
@media (min-width: 1400px) { 
    main{
        background-color: #fff;
        margin: 1vh;
        color: #000;
        font-size: small;
        border-radius: 6px;
        width: 80%;
        height: 70px;
       }
 }