<%- include('../../partials/header.ejs') %>
<%- include('../../partials/navbar.ejs') %>
<div class="container">
    <hr>
    <div class="card">
        <div class="card-body">
            <div class="card-header">
                <h2>Adicionar Título Regimento</h2>
            </div>

            <form method="post" action="/admin/titulo/new">
                Título:<input class="form-control" type="text" name="titulo" style="min-width: 50px;"
                    placeholder="Titulo"><br>          

                <button class="btn btn-success">Cadastrar</button>
            </form>
        </div>
    </div>


</div>
        
<%- include('../../partials/footer.ejs') %>
